body {
    height: 100vh;
    margin: 0;
    background:linear-gradient(to bottom, #000000, #1a1a2e, #16213e);
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
}


.body_text {
    position: absolute;
    left: 50%;
    top: 25%;
    align-content: start;
    justify-content: start;
    transform: translate(-50%, -50%);   
}


.body_text2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);  
    display: flex;
    gap: 20px;
    width: 95%;   
    height: 60%;
}

.text {
    flex: 1;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    min-height: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(255, 255, 255, 0.096);
}

h2{
    font-size: 1em;
    letter-spacing: 3px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0 0 10px #fff,0 0 10px #fff;



}




.layer1 {
    backdrop-filter: saturate(150%) brightness(1.2);
}

.layer2 {
    animation: twinkle 1s infinite;
}

.layer3 {
    animation: twinkle 1.8s infinite;
}

.meteorshower {
    position: absolute;
  transform: rotate(-45deg);
  width: 120px;
  height: 3px;
  background:
    radial-gradient(circle at left center, white 2px, transparent 5px),
    linear-gradient(to right, rgb(255, 232, 232), transparent);

  background-repeat: no-repeat;
  animation: shower 1s linear forwards;
}

.nightsky {
  position: relative;   
  width: 100%;
  height: 100vh;
  overflow: hidden;     
}

.celesta {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    letter-spacing: 5px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0 0 10px #fff,0 0 20px #fff;
}




@keyframes shower {
0% {
    transform: translate(0, 0) rotate(-45deg);
    opacity: 1;
    background-position: 0 0, 0 0;

  }
  100% {
    transform: translate(-500px, 500px) rotate(-45deg);
    opacity: 0;
    background-position: -100px 0, -100px 0;
  }

}


@keyframes twinkle {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}