body {
    height: 100vh;
    margin: 0;
    background:linear-gradient(to bottom, #000000, #1a1a2e, #16213e);
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
}

.layer1 {
    backdrop-filter: saturate(150%) brightness(1.2);
}

.layer2 {
    animation: twinkle 1s infinite;
}

.layer3 {
    animation: twinkle 1.8s infinite;
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}