body{
 background:
    linear-gradient(to bottom, #020111, #191621, #3a2c4f);
  background-repeat: repeat;
  height: 100vh;
  margin: 0;
}
.nightsky{ 
  width: 100%; height: 100%;  
}
.movestars{
  animation: moveStars 300s linear infinite;
}
.celesta{
  color:white;
  font-size: 7em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height: 100%;
  will-change: transform, opacity;
backface-visibility: hidden;
}

.addmoveback{
  animation: moveback 5s cubic-bezier(0.16, 1, 0.3, 1) forwards;

}

.box{
  position: absolute;   
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 80%;
  min-height: 400px;
  height:auto;
  margin-top: 100px;
  padding: 20px;
  background: rgba(0, 0, 20, 0.8);
  color: white;
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(5px); 
}

@keyframes moveback {
  from {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

  to {
    transform: scale(0.5) translateY(-500px);
    opacity: 0.98;
  }
}



@keyframes moveStars {
   from { background-position: 0 0; } to { background-position: -1000px 1000px; } 
  }